<header>
  <style>
    .marcados{
      text-decoration: underline;
    }
  </style>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <!-- Nombre de la aplicación -->
      <a class="navbar-brand" routerLink="dashboard">
        <i class="bi bi-camera-reels"></i>
      </a>

      <!-- Botón para tamaño pequeño de pantalla -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Opciones del menú -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <!-- Menú de películas -->
          <li class="nav-item">
            <a routerLink="peliculas" routerLinkActive="text-success" class="nav-link active" aria-current="page">
              Peliculas
            </a>
          </li>

          <!-- Listado -->
          <li class="nav-item">
            <a routerLink="peliculas/listado" routerLinkActive="marcados text-success fw-bold" class="nav-link active" aria-current="page">
              Listado
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="peliculas/alfabetico" routerLinkActive="marcados text-success fw-bold" class="nav-link active" aria-current="page">
              Alfabético
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="peliculas/genero" routerLinkActive="marcados text-success fw-bold" class="nav-link active" aria-current="page">
              Por género
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <button class="btn btn-outline-dark" (click)="cerrarSesion()">
              Cerrar sesión
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
