.bg-navbar{
    background-color: #1C3544;
}
li{
    color:white;
}
.bg-footer{
    background-color: #1C3544;
    color:white;
}

.btn-save {
    background-color:lightblue;
    color:black;
}
.btn-save:hover {
    background-color: #1C3544;
    color:#ebf2fb;
}
.btn-new{
    background-color: #1C3544;
    color:#ebf2fb;
}
.btn-new:hover{
    background-color: palevioletred;
    color:black;
}